<div class="sample-navigation -is-ready" id="js-navigation">
  <div class="sample-navigation_button -open">
    <button type="button" data-role="open" aria-label="open navigation">
      <svg class="sample-navigation_icon -menu" viewBox="0 0 44 44">
        <path fill="none" stroke="black" stroke-linecap="round" stroke-width="2" d="M8,15 H32 M8,22 H32 M8,29 H32"
        ></path>
      </svg>
    </button>
  </div>
  <div class="sample-navigation_bg" data-role="bg"></div>
  <div class="sample-navigation_contents" data-role="contents" aria-hidden="true">
    <div class="sample-navigation_button -close">
      <button type="button" data-role="close" aria-label="close navigation">
        <svg class="sample-navigation_icon -menu" viewBox="0 0 44 44">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M14,14 L30,30 M30,14 L14,30"></path>
        </svg>
      </button>
    </div>
    <div class="sample-navigation_inner">
      <slot />
    </div>
    <button class="sample-navigation_trap" type="button" data-role="trap" aria-hidden="true"></button>
  </div>
</div>
