---
const { id } = Astro.props;
---

<dialog class="sample-modal js-modal" id={id} aria-modal="true">
  <div class="sample-modal_inner" data-role="inner">
    <div class="sample-modal_contents">
      <slot />
    </div>
    <div class="sample-modal_control">
      <button autofocus data-role="close">close</button>
    </div>
  </div>
</dialog>
