@use "@/styles/_develop/+.scss" as *;

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  transform: translate3d(0, 0, 0);
}
