---
import CommonNavi from './CommonNavi.astro';
---

<div class="common-header">
  <div class="common-header_label">COMMON-HEADER</div>
  <div class="common-header_navi">
    <CommonNavi />
  </div>
</div>
