@use "@/styles/_develop/+.scss" as *;

.parts-confirmItem {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  padding-block: rem(16);
  border-bottom: 1px solid var(--color-border);

  @include min-screen(md) {
    flex-direction: row;
    gap: rem(24);
  }
}

.parts-confirmItem_term {
  font-weight: var(--typography-font-weight-bold);

  @include min-screen(md) {
    flex-shrink: 0;
    width: rem(220);
  }
}

.parts-confirmItem_desc {
  flex-grow: 1;
  min-width: 0;
  word-break: break-all;
}
