@use "@/styles/_develop/+.scss" as *;

.parts-textInput {
  --this-radius: var(--rounded-sm);

  width: 100%;
  min-height: rem(44);
  padding-block: rem(10);
  padding-inline: rem(12);
  font-size: var(--typography-font-size-100);
  color: var(--color-text);
  appearance: none;
  background-color: var(--color-background-white);
  border: 1px solid var(--color-border);
  border-radius: var(--this-radius);

  &::placeholder {
    color: var(--color-gray-500);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  // 操作後に不正な値のとき枠を強調
  &:user-invalid {
    border-color: var(--color-error);
  }
}
